In [2]:
# Importing the required modules

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [4]:
# Importing the dataset as a dataframe

In [5]:
soil_df = pd.read_csv('data_with_indices_2.csv')

In [6]:
soil_df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,District,Mandal,Village,Latitude,Longitude,SoilType,pH,...,B,Fe,Cu,Mn,Crop,ndvi,arvi,evi,gci,ndwi
0,0,0,0,Anantapur,Penukonda,Gonipeta,14.08,77.69,Mixed soil,6.19,...,0.17,8.89,0.51,15.24,G.Nut,0.066779,0.035485,0.203906,0.183342,-0.083973
1,1,1,1,Anantapur,Penukonda,Gonipeta,14.09,77.69,Redsoil,8.40,...,0.57,3.24,0.44,6.90,G.Nut,0.074064,0.039668,0.211340,0.210912,-0.095396
2,2,2,2,Anantapur,Penukonda,Gonipeta,14.09,77.69,Mixed soil,7.10,...,0.19,5.54,0.42,8.34,G.Nut,0.074064,0.039668,0.211340,0.210912,-0.095396
3,3,3,3,Anantapur,Penukonda,Gonipeta,14.10,77.70,Sandi soil,8.30,...,0.21,1.79,0.67,4.17,Horsegram,0.079518,0.041296,0.211175,0.220463,-0.099287
4,4,4,4,Anantapur,Penukonda,Gonipeta,14.09,77.69,Mixed soil,6.40,...,0.22,22.26,0.45,9.20,Horsegram,0.074064,0.039668,0.211340,0.210912,-0.095396

In [7]:
# Datatype of each column

In [8]:
soil_df.dtypes

Unnamed: 0          int64
Unnamed: 0.1        int64
Unnamed: 0.1.1      int64
District           object
Mandal             object
Village            object
Latitude          float64
Longitude         float64
SoilType           object
pH                float64
EC                float64
OC                 object
P                 float64
K                   int64
Ca                  int64
Mg                  int64
S                  object
Zn                float64
B                  object
Fe                float64
Cu                float64
Mn                float64
Crop               object
ndvi              float64
arvi              float64
evi               float64
gci               float64
ndwi              float64
dtype: object

In [9]:
soil_df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'District', 'Mandal',
       'Village', 'Latitude', 'Longitude', 'SoilType', 'pH', 'EC', 'OC', 'P',
       'K', 'Ca', 'Mg', 'S', 'Zn', 'B', 'Fe', 'Cu', 'Mn', 'Crop', 'ndvi',
       'arvi', 'evi', 'gci', 'ndwi'],
      dtype='object')

In [46]:
# Dropping the unimportant features

In [10]:
columns_to_be_dropped = ['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1']
soil_df = soil_df.drop(columns_to_be_dropped, axis=1)

In [11]:
# Renaming some of the columns

In [12]:
soil_df.rename(columns={'ndvi':'NDVI', 'arvi':'ARVI', 'evi':'EVI', 'gci':'GCI', 'ndwi':'NDWI'}, inplace=True)

In [13]:
# Rearranging the columns

In [14]:
soil_df = soil_df[['Latitude', 'Longitude', 'District', 'Mandal', 'Village', 'SoilType', 'pH', 'EC', 'OC', 'P', 'K', 'Ca', 'Mg', 'S', 'Zn', 'B', 'Fe', 'Cu', 'Mn', 'NDVI', 'ARVI', 'EVI', 'GCI', 'NDWI', 'Crop']]

In [15]:
# Modifiying the datatypes of certain columns

In [16]:
soil_df['K'] = soil_df['K'].astype('float')
soil_df['Ca'] = soil_df['Ca'].astype('float')
soil_df['Mg'] = soil_df['Mg'].astype('float')
soil_df['S'] = pd.to_numeric(soil_df['S'], errors='coerce')
soil_df['B'] = pd.to_numeric(soil_df['B'], errors='coerce')
soil_df['OC'] = pd.to_numeric(soil_df['OC'], errors='coerce')

In [17]:
# Dropping rows with missing values

In [18]:
soil_df = soil_df.dropna()

In [19]:
# Columns of the dataframe after preprocessing

In [20]:
soil_df.dtypes

Latitude     float64
Longitude    float64
District      object
Mandal        object
Village       object
SoilType      object
pH           float64
EC           float64
OC           float64
P            float64
K            float64
Ca           float64
Mg           float64
S            float64
Zn           float64
B            float64
Fe           float64
Cu           float64
Mn           float64
NDVI         float64
ARVI         float64
EVI          float64
GCI          float64
NDWI         float64
Crop          object
dtype: object

In [21]:
# Descriptive statistics of the dataframe

In [22]:
soil_df.describe()

,Latitude,Longitude,pH,EC,OC,P,K,Ca,Mg,S,Zn,B,Fe,Cu,Mn,NDVI,ARVI,EVI,GCI,NDWI
count,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000,4548.000000
mean,15.935031,80.516781,7.499131,0.506174,0.481293,16.849976,161.680299,2464.104881,536.439754,50.021953,1.126480,1.197718,28.952274,2.606788,18.676603,0.151974,0.103251,0.324110,0.441539,-0.151080
std,1.736613,2.025771,1.042191,1.069293,0.257317,18.630372,138.019218,2168.896304,479.938432,118.915436,1.400856,1.017130,39.180955,3.123630,18.901513,0.158884,0.119709,0.236646,0.546831,0.137768
min,12.810000,75.280000,4.450000,0.010000,0.010000,0.450000,12.000000,46.000000,4.000000,0.100000,0.030000,0.030000,0.040000,0.030000,0.010000,-0.191858,-0.009621,-0.166977,-0.551334,-0.669077
25%,14.530000,78.970000,6.800000,0.120000,0.290000,5.260000,83.000000,865.000000,191.000000,4.817500,0.420000,0.480000,5.790000,0.940000,8.107500,0.027127,0.019677,0.178998,0.079963,-0.224751
50%,15.550000,80.080000,7.820000,0.230000,0.440000,11.180000,130.000000,1704.500000,386.500000,11.735000,0.720000,0.915000,12.430000,1.500000,12.920000,0.091129,0.056920,0.269806,0.222914,-0.100280
75%,17.720000,82.500000,8.280000,0.530000,0.630000,21.785000,198.000000,3231.000000,740.000000,37.007500,1.270000,1.620000,34.970000,2.700000,21.840000,0.220843,0.138438,0.443250,0.579816,-0.038445
max,18.800000,84.190000,9.890000,27.500000,2.640000,361.940000,2409.000000,13304.000000,5363.000000,2539.580000,23.920000,13.730000,354.700000,20.180000,256.880000,0.803907,0.699015,4.543434,4.043696,0.380581

In [23]:
# Saving the cleaned dataframe as a csv file called 'Cleaned_Soil.csv'

In [24]:
soil_df.to_csv('Cleaned_Soil.csv')

In [25]:
# List of Districts

In [26]:
list(soil_df['District'].unique())

['Anantapur',
 'Chittoor',
 'East Godavari',
 'Guntur',
 'Kadapa',
 'Krishna',
 'Kurnool',
 'Nellore',
 'Prakasam',
 'Srikakulam',
 'Visakhapatnam',
 'Vizianagaram',
 'West Godavari']

In [27]:
soil_df.columns

Index(['Latitude', 'Longitude', 'District', 'Mandal', 'Village', 'SoilType',
       'pH', 'EC', 'OC', 'P', 'K', 'Ca', 'Mg', 'S', 'Zn', 'B', 'Fe', 'Cu',
       'Mn', 'NDVI', 'ARVI', 'EVI', 'GCI', 'NDWI', 'Crop'],
      dtype='object')