In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Soil.csv')

In [3]:
dataset.head()

,Sl no,Date,Farmer No,Macro/ Micro nutrient,Farmer Name,District,Mandal,Village,Latitude,Longitude,...,Exch-K,Avail-Ca,Avail-Mg,Avail-S,Avail-Zn,Avail-B,Avail-Fe,Avail-Cu,Avail-Mn,Time
0,1,01-01-2015,1910,RK2276,P.Krishna Naik,Anantapur,Penukonda,Gonipeta,14.08,77.69,...,41,587,101,5.16,0.30,0.17,8.89,0.51,15.24,01-01-2015
1,2,01-01-2015,1911,RK2277,Kallu Thippe Naik,Anantapur,Penukonda,Gonipeta,14.09,77.69,...,102,811,261,9.91,0.36,0.57,3.24,0.44,6.90,01-01-2015
2,3,01-01-2015,1912,RK2278,P.Duble Bai,Anantapur,Penukonda,Gonipeta,14.09,77.69,...,46,582,48,3.77,0.37,0.19,5.54,0.42,8.34,01-01-2015
3,4,01-01-2015,1913,RK2279,H.Marekka (Kamma),Anantapur,Penukonda,Gonipeta,14.10,77.70,...,35,3048,52,4.14,0.23,0.21,1.79,0.67,4.17,01-01-2015
4,5,01-01-2015,1914,RK2280,M.Alevelamma,Anantapur,Penukonda,Gonipeta,14.09,77.69,...,76,511,84,1.45,0.36,0.22,22.26,0.45,9.20,01-01-2015

In [4]:
dataset.columns

Index(['Sl no', 'Date', 'Farmer No', 'Macro/ Micro nutrient', 'Farmer Name',
       'District', 'Mandal', 'Village', 'Latitude', 'Longitude', 'Survey No.',
       'Soil type', 'Fathers Name', 'Extent\n(AC)', 'Crop before', 'pH', 'EC',
       'OC', 'Avail-P', 'Exch-K', 'Avail-Ca', 'Avail-Mg', 'Avail-S',
       'Avail-Zn', 'Avail-B', 'Avail-Fe', 'Avail-Cu', 'Avail-Mn', 'Time'],
      dtype='object')

In [5]:
dataset = dataset.drop(['Sl no', 'Date', 'Farmer No', 'Macro/ Micro nutrient', 'Farmer Name', 'Survey No.', 'Fathers Name', 'Extent\n(AC)', 'Time'], axis = 1)

In [6]:
dataset.head()

,District,Mandal,Village,Latitude,Longitude,Soil type,Crop before,pH,EC,OC,Avail-P,Exch-K,Avail-Ca,Avail-Mg,Avail-S,Avail-Zn,Avail-B,Avail-Fe,Avail-Cu,Avail-Mn
0,Anantapur,Penukonda,Gonipeta,14.08,77.69,Mixed soil,G.Nut,6.19,0.07,0.18,7.13,41,587,101,5.16,0.30,0.17,8.89,0.51,15.24
1,Anantapur,Penukonda,Gonipeta,14.09,77.69,Redsoil,G.Nut,8.40,0.33,0.31,10.34,102,811,261,9.91,0.36,0.57,3.24,0.44,6.90
2,Anantapur,Penukonda,Gonipeta,14.09,77.69,Mixed soil,G.Nut,7.10,0.11,0.17,8.46,46,582,48,3.77,0.37,0.19,5.54,0.42,8.34
3,Anantapur,Penukonda,Gonipeta,14.10,77.70,Sandi soil,Horsegram,8.30,0.21,0.20,2.31,35,3048,52,4.14,0.23,0.21,1.79,0.67,4.17
4,Anantapur,Penukonda,Gonipeta,14.09,77.69,Mixed soil,Horsegram,6.40,0.06,0.22,6.08,76,511,84,1.45,0.36,0.22,22.26,0.45,9.20

In [7]:
dataset = dataset[['Latitude', 'Longitude', 'District', 'Mandal', 'Village', 'Soil type', 'pH', 'EC',
       'OC', 'Avail-P', 'Exch-K', 'Avail-Ca', 'Avail-Mg', 'Avail-S',
       'Avail-Zn', 'Avail-B', 'Avail-Fe', 'Avail-Cu', 'Avail-Mn', 'Crop before']]

In [8]:
dataset.head()

,Latitude,Longitude,District,Mandal,Village,Soil type,pH,EC,OC,Avail-P,Exch-K,Avail-Ca,Avail-Mg,Avail-S,Avail-Zn,Avail-B,Avail-Fe,Avail-Cu,Avail-Mn,Crop before
0,14.08,77.69,Anantapur,Penukonda,Gonipeta,Mixed soil,6.19,0.07,0.18,7.13,41,587,101,5.16,0.30,0.17,8.89,0.51,15.24,G.Nut
1,14.09,77.69,Anantapur,Penukonda,Gonipeta,Redsoil,8.40,0.33,0.31,10.34,102,811,261,9.91,0.36,0.57,3.24,0.44,6.90,G.Nut
2,14.09,77.69,Anantapur,Penukonda,Gonipeta,Mixed soil,7.10,0.11,0.17,8.46,46,582,48,3.77,0.37,0.19,5.54,0.42,8.34,G.Nut
3,14.10,77.70,Anantapur,Penukonda,Gonipeta,Sandi soil,8.30,0.21,0.20,2.31,35,3048,52,4.14,0.23,0.21,1.79,0.67,4.17,Horsegram
4,14.09,77.69,Anantapur,Penukonda,Gonipeta,Mixed soil,6.40,0.06,0.22,6.08,76,511,84,1.45,0.36,0.22,22.26,0.45,9.20,Horsegram

In [9]:
len(dataset)

4815

In [10]:
dataset = dataset.dropna()
len(dataset)

4571

In [11]:
dataset['Crop before'].unique()

array(['G.Nut', 'Horsegram', 'jowar', 'cotton', 'GROUND NUT', 'SUNFLOWER',
       'PADDY', 'TAMATO', 'Tomato', 'Sweetcorn', 'Mulberry', 'Potatao',
       'Cabage', 'Groundnut', 'Potato', 'Paddy', 'Banana', 'Mulbarry',
       'Chillies', 'Jowar', 'Maize', 'Mango', 'Flowers', 'Beans',
       'Vegetables', 'Horse gram', 'Papaya', 'Cabbage', 'Dhavanam',
       'banana', 'beans', 'Cucumber', 'Benda', 'Donda', 'Anaar',
       'Fodder Crops', '-', 'Beera', 'Ragi', 'Topioca  ',
       'Topioca, Cashew', 'Topica, Paddy', 'Topioca', 'Cashew, Mango',
       'Topioca (Sample-2)', 'Topioca (Sample-1)', 'Paddy (Sample-2)',
       'Cotton (Sample-1)', 'Cotton ', 'Cotton', 'Cotton, Topioca',
       'Paddy, Brinjal', 'Cotton, Redgram', 'Paddy (Sample-1)',
       'Turmeric', 'Yam', 'yam', 'Ridge Guard', 'Chilli', 'Sunflower',
       'Chilly', 'Mirchi', 'Bajra', 'Turmaric', 'Redgram', 'Light Black',
       'Cowpea', 'chill', 'Vegetable', 'Black gram', 'PULSE', 'MAZI',
       'maize', 'Mazi', 'Chickpea', 'Pigeonpea', 'Coriandam', 'Blackgram',
       'Bengalgram', 'Senaga', 'Jonna', 'Vari', 'JOWAR', 'Paddy,jowar',
       'Dhanyalu', 'Jonna, Senaga', 'Pogaku', 'Mahendra Jonna',
       'Merappa ; Senaga', 'Menumu', 'Pacha Jonna', 'Korra, Maagu',
       'Jonna+ sunflower', 'Dhanyalu , Jonnalu', 'Jonna/Senaga',
       'Erra senaga', 'Erra Jonna', 'Veru senaga, Jonna',
       'Peasara + Pacha Gaddi', 'Cottan', 'Ground Nat,Cottan',
       'Oniyan,Ground Nat', 'ground nut', 'ground nut/groundnut',
       'groundnut', 'Cottan,Ground Nat', 'Grounat', 'Ground Nat',
       'Cottan ,Groundnat', 'Cottan,', 'Groundnut,Cottan',
       'Ground nut,Cottan', 'Cottan,Castral', 'GroundNut', 'Onian',
       'Castor', 'GroundNut,Cotton', 'Ground nut', 'Cotton,Vegitable',
       'Ground nut,castor', 'Ground nut ,Mirchi', 'Cotton,Ground Nut',
       'Ground Nut', 'Cotton,castor', 'Ground Nut, Cotton',
       'Ground Nut,jowar', 'Ground Nut ,Cotton', 'Clastor',
       'Cotton,Groundnut', 'Citrus', 'Green Gram', 'Green gram',
       'Cow pea', 'Tobacco', 'Prawns', 'chickpea', 'Paddy/G.gram',
       'Cashew', 'banana/coconut', 'Maize/paddy', 'coconut', 'Coconut',
       'coconut/banana', 'Paddy/Maize', 'Banana/coconut', 'cashew',
       'Chilli Papaya', 'paddy', 'Paddy Maize', 'Maize/Horti',
       'Cotton/Maize', 'paddy  ', ' ', 'Paddy Sugercane', 'Paddy/Ragi',
       'Paddy/G.nut', 'Sugarcane ', 'Paddy/ Sugarcane', 'Sugarcane',
       'suger cane ', 'SUGER CANE ', 'Ragi/Niger', 'Maize/Paddy/Rajma',
       'Maize/Rajma', 'Rajma/Maize', 'Paddy/Maize/G.N', 'Sandy',
       'Sesumum', 'Sesamum', 'Black Gram', 'Eucaliptus', 'Cashewnut',
       'Mango(Intercrop Ragi,)', 'Cashew Nut', 'Mango(Intercrop Ragi)',
       'Mango(Inter Crop Ragi)', 'Red Gram',
       'Mango (Inter Crop Red Gram And Ragi)', 'Oil Palm', 'Mesta',
       'Cashewnut, Mango (Intercrop Maize And Seasamum)', 'Paady',
       ' Maize', 'Coconut (Intercop Maize)', 'Red', 'Cashew Raina', 'Mc',
       'Paddy ', 'Coconut+ Banana', 'Lime', 'Cocoa+ Coconut',
       'Sugar Cane', 'Coconut+Cocoa', 'Cocnut+Banana', 'Oil Palm+Coconut',
       'Mulberrry', 'Coconut+ Cocoa', 'Cane+Lime ', 'Cocnut+Lime',
       'Oil Palm ', 'Cane', 'Eucalyptus', 'Red Sandal', 'Oil Palm+Banana',
       'Sandal', 'Cashew+Maize', 'Brinjal'], dtype=object)

In [12]:
dataset = dataset[dataset['Crop before'] != '-']

In [13]:
dataset['Crop before'] = dataset['Crop before'].replace(['G.Nut', 'GROUND NUT', 'Groundnut', 'ground nut', 'ground nut/groundnut', 'groundnut', 'Grounat', 'Ground Nat', 'Ground nut', 'Ground Nut', 'Oniyan,Ground Nat', 'Ground nut,castor'],'GroundNut')
dataset['Crop before'] = dataset['Crop before'].replace(['PADDY', 'Paddy', 'Paddy (Sample-2)', 'Paddy (Sample-1)', 'paddy', 'paddy', 'Paady', 'Paddy ', 'paddy  '],'Paddy')
dataset['Crop before'] = dataset['Crop before'].replace(['cotton', 'Cotton (Sample-1)', 'Cotton ', 'Cottan', 'Cottan,', 'Cotton, Topioca', 'Cotton,Vegitable', 'Cotton,castor', 'Cottan,Castral'],'Cotton')
dataset['Crop before'] = dataset['Crop before'].replace(['Chillies', 'Chilly', 'Mirchi', 'chill'],'Chilli')
dataset['Crop before'] = dataset['Crop before'].replace(['TAMATO'],'Tomato')
dataset['Crop before'] = dataset['Crop before'].replace(['Horsegram', 'Horse gram'],'HorseGram')
dataset['Crop before'] = dataset['Crop before'].replace(['MAZI', 'maize', 'Mazi', ' Maize', 'Maize/Horti'],'Maize')
dataset = dataset[(dataset['Crop before'] != 'SUNFLOWER') & (dataset['Crop before'] != 'Sunflower')]
dataset = dataset[(dataset['Crop before'] != 'Paddy, Brinjal') & (dataset['Crop before'] != 'Brinjal')]
dataset = dataset[(dataset['Crop before'] != 'Sweetcorn')]
dataset = dataset[(dataset['Crop before'] != 'Potatao') & (dataset['Crop before'] != 'Potato')]
dataset = dataset[(dataset['Crop before'] != 'Mulberry') & (dataset['Crop before'] != 'Mulbarry') & (dataset['Crop before'] != 'Mulberrry')]
dataset = dataset[(dataset['Crop before'] != 'Cabage') & (dataset['Crop before'] != 'Cabbage')]
dataset['Crop before'] = dataset['Crop before'].replace(['banana/coconut', 'coconut/banana', 'Banana/coconut', 'Coconut+ Banana', 'Cocnut+Banana'], 'Coconut+Banana')
dataset['Crop before'] = dataset['Crop before'].replace(['Banana', 'banana'],'Banana')
dataset['Crop before'] = dataset['Crop before'].replace(['Mango', 'Cashew, Mango', 'Mango(Intercrop Ragi,)', 'Mango(Intercrop Ragi)', 'Mango(Inter Crop Ragi)', 'Mango (Inter Crop Red Gram And Ragi)', 'Cashewnut, Mango (Intercrop Maize And Seasamum)'], 'Mango')
dataset = dataset[(dataset['Crop before'] != 'Flowers')]
dataset['Crop before'] = dataset['Crop before'].replace(['beans', 'Beans'],'Beans')
dataset = dataset[(dataset['Crop before'] != 'Vegetables') & (dataset['Crop before'] != 'Vegetable')]
dataset = dataset[(dataset['Crop before'] != 'Papaya') & (dataset['Crop before'] != 'Chilli Papaya')]
dataset = dataset[(dataset['Crop before'] != 'Cucumber') & (dataset['Crop before'] != 'Benda') & (dataset['Crop before'] != 'Donda') & (dataset['Crop before'] != 'Anaar') & (dataset['Crop before'] != 'Fodder Crops') & (dataset['Crop before'] != 'Beera')]
dataset = dataset[(dataset['Crop before'] != 'Ragi/Niger') & (dataset['Crop before'] != 'Paddy/Ragi') & (dataset['Crop before'] != 'Ragi')]
dataset = dataset[(dataset['Crop before'] != 'Topioca  ') & (dataset['Crop before'] != 'Topioca, Cashew') & (dataset['Crop before'] != 'Topica, Paddy') & (dataset['Crop before'] != 'Topioca') & (dataset['Crop before'] != 'Topioca (Sample-2)') & (dataset['Crop before'] != 'Topioca (Sample-1)')]
dataset = dataset[(dataset['Crop before'] != 'Cotton, Redgram') & (dataset['Crop before'] != 'Redgram') & (dataset['Crop before'] != 'Red Gram') & (dataset['Crop before'] != 'Red') & (dataset['Crop before'] != 'Red Sandal')]
dataset['Crop before'] = dataset['Crop before'].replace(['Turmaric', 'Turmeric'],'Turmeric')
dataset = dataset[(dataset['Crop before'] != 'Yam') & (dataset['Crop before'] != 'yam') & (dataset['Crop before'] != 'Ridge Guard') & (dataset['Crop before'] != 'Bajra') & (dataset['Crop before'] != 'Light Black')]
dataset['Crop before'] = dataset['Crop before'].replace(['Cow pea', 'Cowpea'],'Cowpea')
dataset['Crop before'] = dataset['Crop before'].replace(['Black Gram', 'Blackgram', 'Black gram'],'BlackGram')
dataset['Crop before'] = dataset['Crop before'].replace(['PULSE'],'Pulse')
dataset = dataset[(dataset['Crop before'] != 'Dhavanam') & (dataset['Crop before'] != 'Chickpea') & (dataset['Crop before'] != 'chickpea') & (dataset['Crop before'] != ' ')]
dataset['Crop before'] = dataset['Crop before'].replace(['Pigeonpea'],'PigeonPea')
dataset['Crop before'] = dataset['Crop before'].replace(['Bengalgram', 'Senaga', 'Merappa ; Senaga', 'Erra senaga', 'Jonna, Senaga', 'Jonna/Senaga'],'BengalGram')
dataset['Crop before'] = dataset['Crop before'].replace(['jowar', 'Jowar', 'JOWAR', 'Jonna', 'Mahendra Jonna', 'Pacha Jonna', 'Jonna+ sunflower', 'Dhanyalu , Jonnalu', 'Erra Jonna', 'Veru senaga, Jonna'],'Jowar')
dataset['Crop before'] = dataset['Crop before'].replace(['Vari'],'BarnyardMillet')
dataset['Crop before'] = dataset['Crop before'].replace(['Pogaku', 'Tobacco'],'Tobacco')
dataset = dataset[(dataset['Crop before'] != 'Coriandam') & (dataset['Crop before'] != 'Dhanyalu') & (dataset['Crop before'] != 'Menumu') & (dataset['Crop before'] != 'Korra, Maagu') & (dataset['Crop before'] != 'Onian') & (dataset['Crop before'] != 'Castor') & (dataset['Crop before'] != 'Clastor') & (dataset['Crop before'] != 'Prawns') & (dataset['Crop before'] != 'Sandy')]
dataset['Crop before'] = dataset['Crop before'].replace(['Peasara + Pacha Gaddi', 'Green Gram', 'Green gram'],'GreenGram')
dataset['Crop before'] = dataset['Crop before'].replace(['Cashewnut', 'cashew', 'Cashew', 'Cashew Nut', 'Cashew Raina'],'CashewNut')
dataset['Crop before'] = dataset['Crop before'].replace(['Coconut+ Cocoa', 'Oil Palm+Coconut', 'Coconut+Cocoa', 'Cocoa+ Coconut', 'Coconut', 'coconut', 'Coconut (Intercop Maize)', 'Cocnut+Lime'], 'Coconut')
dataset['Crop before'] = dataset['Crop before'].replace(['Cane', 'Cane+Lime ', 'Sugar Cane', 'SUGER CANE ', 'suger cane ', 'Sugarcane ', 'Sugarcane'], 'SugarCane')
dataset['Crop before'] = dataset['Crop before'].replace(['Oil Palm', 'Oil Palm '], 'OilPalm')
dataset['Crop before'] = dataset['Crop before'].replace(['Sesamum', 'Sesumum'], 'Sesamum')
dataset = dataset[(dataset['Crop before'] != 'Mesta') & (dataset['Crop before'] != 'Mc') & (dataset['Crop before'] != 'Lime') & (dataset['Crop before'] != 'Eucalyptus') & (dataset['Crop before'] != 'Eucaliptus') & (dataset['Crop before'] != 'Sandal')]

In [14]:
temp1 = dataset[dataset['Crop before'] == 'Paddy/G.gram'].copy()
temp2 = dataset[dataset['Crop before'] == 'Paddy/G.gram'].copy()
temp1 = temp1.replace(['Paddy/G.gram'],'Paddy')
temp2 = temp2.replace(['Paddy/G.gram'],'GreenGram')
dataset = dataset[dataset['Crop before'] != 'Paddy/G.gram']
temp1 = pd.concat([temp1, temp2])
dataset = pd.concat([dataset, temp1])

In [15]:
temp1 = dataset[(dataset['Crop before'] == 'Ground Nat,Cottan') | (dataset['Crop before'] == 'Cottan,Ground Nat') | (dataset['Crop before'] == 'Cottan ,Groundnat') | (dataset['Crop before'] == 'Groundnut,Cottan') | (dataset['Crop before'] == 'Ground nut,Cottan') | (dataset['Crop before'] == 'GroundNut,Cotton') | (dataset['Crop before'] == 'Cotton,Ground Nut') | (dataset['Crop before'] == 'Ground Nut, Cotton') | (dataset['Crop before'] == 'Cotton,Groundnut') | (dataset['Crop before'] == 'Ground Nut ,Cotton')].copy()
temp2 = dataset[(dataset['Crop before'] == 'Ground Nat,Cottan') | (dataset['Crop before'] == 'Cottan,Ground Nat') | (dataset['Crop before'] == 'Cottan ,Groundnat') | (dataset['Crop before'] == 'Groundnut,Cottan') | (dataset['Crop before'] == 'Ground nut,Cottan') | (dataset['Crop before'] == 'GroundNut,Cotton') | (dataset['Crop before'] == 'Cotton,Ground Nut') | (dataset['Crop before'] == 'Ground Nut, Cotton') | (dataset['Crop before'] == 'Cotton,Groundnut') | (dataset['Crop before'] == 'Ground Nut ,Cotton')].copy()
temp1['Crop before'] = 'GroundNut'
temp2['Crop before'] = 'Cotton'
dataset = dataset[(dataset['Crop before'] != 'Ground Nat,Cottan') & (dataset['Crop before'] != 'Cottan,Ground Nat') & (dataset['Crop before'] != 'Cottan ,Groundnat') & (dataset['Crop before'] != 'Groundnut,Cottan') & (dataset['Crop before'] != 'Ground nut,Cottan') & (dataset['Crop before'] != 'GroundNut,Cotton') & (dataset['Crop before'] != 'Cotton,Ground Nut') & (dataset['Crop before'] != 'Ground Nut, Cotton') & (dataset['Crop before'] != 'Cotton,Groundnut') & (dataset['Crop before'] != 'Ground Nut ,Cotton')]
temp1 = pd.concat([temp1, temp2])
dataset = pd.concat([dataset, temp1])

In [16]:
temp1 = dataset[dataset['Crop before'] == 'Ground nut ,Mirchi'].copy()
temp2 = dataset[dataset['Crop before'] == 'Ground nut ,Mirchi'].copy()
temp1 = temp1.replace(['Ground nut ,Mirchi'],'GroundNut')
temp2 = temp2.replace(['Ground nut ,Mirchi'],'Chilli')
dataset = dataset[dataset['Crop before'] != 'Ground nut ,Mirchi']
temp1 = pd.concat([temp1, temp2])
dataset = pd.concat([dataset, temp1])

In [17]:
temp1 = dataset[dataset['Crop before'] == 'Cashew+Maize'].copy()
temp2 = dataset[dataset['Crop before'] == 'Cashew+Maize'].copy()
temp1 = temp1.replace(['Cashew+Maize'],'CashewNut')
temp2 = temp2.replace(['Cashew+Maize'],'Maize')
dataset = dataset[dataset['Crop before'] != 'Cashew+Maize']
temp1 = pd.concat([temp1, temp2])
dataset = pd.concat([dataset, temp1])

In [18]:
temp1 = dataset[dataset['Crop before'] == 'Coconut+Banana'].copy()
temp2 = dataset[dataset['Crop before'] == 'Coconut+Banana'].copy()
temp1 = temp1.replace(['Coconut+Banana'],'Coconut')
temp2 = temp2.replace(['Coconut+Banana'],'Banana')
dataset = dataset[dataset['Crop before'] != 'Coconut+Banana']
temp1 = pd.concat([temp1, temp2])
dataset = pd.concat([dataset, temp1])

In [19]:
temp1 = dataset[(dataset['Crop before'] == 'Maize/Rajma') | (dataset['Crop before'] == 'Rajma/Maize')].copy()
temp2 = dataset[(dataset['Crop before'] == 'Maize/Rajma') | (dataset['Crop before'] == 'Rajma/Maize')].copy()
temp1['Crop before'] = 'Maize'
temp2['Crop before'] = 'RedKidneyBean'
dataset = dataset[(dataset['Crop before'] != 'Maize/Rajma') & (dataset['Crop before'] != 'Rajma/Maize')]
temp1 = pd.concat([temp1, temp2])
dataset = pd.concat([dataset, temp1])

In [20]:
# Maize/Paddy/Rajma
temp1 = dataset[dataset['Crop before'] == 'Maize/Paddy/Rajma'].copy()
temp2 = dataset[dataset['Crop before'] == 'Maize/Paddy/Rajma'].copy()
temp3 = dataset[dataset['Crop before'] == 'Maize/Paddy/Rajma'].copy()
temp1 = temp1.replace(['Maize/Paddy/Rajma'],'Maize')
temp2 = temp2.replace(['Maize/Paddy/Rajma'],'Paddy')
temp3 = temp3.replace(['Maize/Paddy/Rajma'],'RedKidneyBean')
dataset = dataset[dataset['Crop before'] != 'Maize/Paddy/Rajma']
temp1 = pd.concat([temp1, temp2])
temp1 = pd.concat([temp1, temp3])
dataset = pd.concat([dataset, temp1])

In [21]:
temp1 = dataset[(dataset['Crop before'] == 'Maize/paddy') | (dataset['Crop before'] == 'Paddy/Maize') | (dataset['Crop before'] == 'Paddy Maize')].copy()
temp2 = dataset[(dataset['Crop before'] == 'Maize/paddy') | (dataset['Crop before'] == 'Paddy/Maize') | (dataset['Crop before'] == 'Paddy Maize')].copy()
temp1['Crop before'] = 'Maize'
temp2['Crop before'] = 'Paddy'
dataset = dataset[(dataset['Crop before'] != 'Maize/paddy') & (dataset['Crop before'] != 'Paddy/Maize') & (dataset['Crop before'] != 'Paddy Maize')]
temp1 = pd.concat([temp1, temp2])
dataset = pd.concat([dataset, temp1])

In [22]:
# Cotton/Maize
temp1 = dataset[dataset['Crop before'] == 'Cotton/Maize'].copy()
temp2 = dataset[dataset['Crop before'] == 'Cotton/Maize'].copy()
temp1 = temp1.replace(['Cotton/Maize'],'Cotton')
temp2 = temp2.replace(['Cotton/Maize'],'Maize')
dataset = dataset[dataset['Crop before'] != 'Cotton/Maize']
temp1 = pd.concat([temp1, temp2])
dataset = pd.concat([dataset, temp1])

In [23]:
temp1 = dataset[(dataset['Crop before'] == 'Paddy Sugercane') | (dataset['Crop before'] == 'Paddy/ Sugarcane')].copy()
temp2 = dataset[(dataset['Crop before'] == 'Paddy Sugercane') | (dataset['Crop before'] == 'Paddy/ Sugarcane')].copy()
temp1['Crop before'] = 'Paddy'
temp2['Crop before'] = 'SugarCane'
dataset = dataset[(dataset['Crop before'] != 'Paddy Sugercane') & (dataset['Crop before'] != 'Paddy/ Sugarcane')]
temp1 = pd.concat([temp1, temp2])
dataset = pd.concat([dataset, temp1])

In [24]:
# Paddy/Maize/G.N
temp1 = dataset[dataset['Crop before'] == 'Paddy/Maize/G.N'].copy()
temp2 = dataset[dataset['Crop before'] == 'Paddy/Maize/G.N'].copy()
temp1 = temp1.replace(['Paddy/Maize/G.N'],'Paddy')
temp2 = temp2.replace(['Paddy/Maize/G.N'],'Maize')
dataset = dataset[dataset['Crop before'] != 'Paddy/Maize/G.N']
temp1 = pd.concat([temp1, temp2])
dataset = pd.concat([dataset, temp1])

In [25]:
# Paddy/Maize/G.N
temp1 = dataset[dataset['Crop before'] == 'Paddy/G.nut'].copy()
temp2 = dataset[dataset['Crop before'] == 'Paddy/G.nut'].copy()
temp1 = temp1.replace(['Paddy/G.nut'],'Paddy')
temp2 = temp2.replace(['Paddy/G.nut'],'GroundNut')
dataset = dataset[dataset['Crop before'] != 'Paddy/G.nut']
temp1 = pd.concat([temp1, temp2])
dataset = pd.concat([dataset, temp1])

In [26]:
temp1 = dataset[dataset['Crop before'] == 'Oil Palm+Banana'].copy()
temp2 = dataset[dataset['Crop before'] == 'Oil Palm+Banana'].copy()
temp1 = temp1.replace(['Oil Palm+Banana'],'OilPalm')
temp2 = temp2.replace(['Oil Palm+Banana'],'Banana')
dataset = dataset[dataset['Crop before'] != 'Oil Palm+Banana']
temp1 = pd.concat([temp1, temp2])
dataset = pd.concat([dataset, temp1])

In [27]:
temp1 = dataset[dataset['Crop before'] == 'Ground Nut,jowar'].copy()
temp2 = dataset[dataset['Crop before'] == 'Ground Nut,jowar'].copy()
temp1 = temp1.replace(['Ground Nut,jowar'],'GroundNut')
temp2 = temp2.replace(['Ground Nut,jowar'],'Jowar')
dataset = dataset[dataset['Crop before'] != 'Ground Nut,jowar']
temp1 = pd.concat([temp1, temp2])
dataset = pd.concat([dataset, temp1])

In [28]:
# Paddy,jowar
temp1 = dataset[dataset['Crop before'] == 'Paddy,jowar'].copy()
temp2 = dataset[dataset['Crop before'] == 'Paddy,jowar'].copy()
temp1 = temp1.replace(['Paddy,jowar'],'Paddy')
temp2 = temp2.replace(['Paddy,jowar'],'Jowar')
dataset = dataset[dataset['Crop before'] != 'Paddy,jowar']
temp1 = pd.concat([temp1, temp2])
dataset = pd.concat([dataset, temp1])

In [29]:
crop_dict = dict()
for i in dataset['Crop before']:
    if i not in crop_dict:
        crop_dict[i] = 1
    else:
        crop_dict[i] = crop_dict[i] + 1

In [30]:
for i in crop_dict:
    print(i, ' ------> ', crop_dict[i])

GroundNut  ------>  607
HorseGram  ------>  52
Jowar  ------>  79
Cotton  ------>  494
Paddy  ------>  1383
Tomato  ------>  76
Banana  ------>  98
Chilli  ------>  117
Maize  ------>  438
Mango  ------>  41
Beans  ------>  28
Turmeric  ------>  39
Cowpea  ------>  207
BlackGram  ------>  139
Pulse  ------>  81
PigeonPea  ------>  46
BengalGram  ------>  38
BarnyardMillet  ------>  38
Tobacco  ------>  35
GreenGram  ------>  184
Citrus  ------>  105
CashewNut  ------>  44
Coconut  ------>  132
SugarCane  ------>  145
Sesamum  ------>  44
OilPalm  ------>  41
RedKidneyBean  ------>  44