In [1]:
# Importing the required modules

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
# Importing the dataset as a dataframe

In [4]:
soil_df = pd.read_csv('sentinel.csv')

In [5]:
soil_df.head()

,Unnamed: 0,Unnamed: 0.1,District,Mandal,Village,Latitude,Longitude,SoilType,pH,EC,...,B,Fe,Cu,Mn,Crop,ndvi,arvi,evi,gci,ndwi
0,0,0,Anantapur,Penukonda,Gonipeta,14.08,77.69,Mixed soil,6.19,0.07,...,0.17,8.89,0.51,15.24,G.Nut,0.312311,0.090286,0.535080,1.609966,-0.445978
1,1,1,Anantapur,Penukonda,Gonipeta,14.09,77.69,Redsoil,8.40,0.33,...,0.57,3.24,0.44,6.90,G.Nut,0.127815,-0.068606,0.187032,0.845618,-0.297165
2,2,2,Anantapur,Penukonda,Gonipeta,14.09,77.69,Mixed soil,7.10,0.11,...,0.19,5.54,0.42,8.34,G.Nut,0.127815,-0.068606,0.187032,0.845618,-0.297165
3,3,3,Anantapur,Penukonda,Gonipeta,14.10,77.70,Sandi soil,8.30,0.21,...,0.21,1.79,0.67,4.17,Horsegram,0.140598,-0.065553,0.198200,0.984709,-0.329918
4,4,4,Anantapur,Penukonda,Gonipeta,14.09,77.69,Mixed soil,6.40,0.06,...,0.22,22.26,0.45,9.20,Horsegram,0.127815,-0.068606,0.187032,0.845618,-0.297165

In [6]:
# Datatype of each column

In [7]:
soil_df.dtypes

Unnamed: 0        int64
Unnamed: 0.1      int64
District         object
Mandal           object
Village          object
Latitude        float64
Longitude       float64
SoilType         object
pH              float64
EC              float64
OC               object
P               float64
K                 int64
Ca                int64
Mg                int64
S                object
Zn              float64
B                object
Fe              float64
Cu              float64
Mn              float64
Crop             object
ndvi            float64
arvi            float64
evi             float64
gci             float64
ndwi            float64
dtype: object

In [8]:
soil_df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'District', 'Mandal', 'Village',
       'Latitude', 'Longitude', 'SoilType', 'pH', 'EC', 'OC', 'P', 'K', 'Ca',
       'Mg', 'S', 'Zn', 'B', 'Fe', 'Cu', 'Mn', 'Crop', 'ndvi', 'arvi', 'evi',
       'gci', 'ndwi'],
      dtype='object')

In [9]:
# Dropping the unimportant features

In [11]:
columns_to_be_dropped = ['Unnamed: 0', 'Unnamed: 0.1']
soil_df = soil_df.drop(columns_to_be_dropped, axis=1)

In [12]:
# Renaming some of the columns

In [13]:
soil_df.rename(columns={'ndvi':'NDVI', 'arvi':'ARVI', 'evi':'EVI', 'gci':'GCI', 'ndwi':'NDWI'}, inplace=True)

In [14]:
# Rearranging the columns

In [15]:
soil_df = soil_df[['Latitude', 'Longitude', 'District', 'Mandal', 'Village', 'SoilType', 'pH', 'EC', 'OC', 'P', 'K', 'Ca', 'Mg', 'S', 'Zn', 'B', 'Fe', 'Cu', 'Mn', 'NDVI', 'ARVI', 'EVI', 'GCI', 'NDWI', 'Crop']]

In [16]:
# Modifiying the datatypes of certain columns

In [17]:
soil_df['K'] = soil_df['K'].astype('float')
soil_df['Ca'] = soil_df['Ca'].astype('float')
soil_df['Mg'] = soil_df['Mg'].astype('float')
soil_df['S'] = pd.to_numeric(soil_df['S'], errors='coerce')
soil_df['B'] = pd.to_numeric(soil_df['B'], errors='coerce')
soil_df['OC'] = pd.to_numeric(soil_df['OC'], errors='coerce')

In [18]:
# Dropping rows with missing values

In [19]:
soil_df = soil_df.dropna()

In [20]:
# Columns of the dataframe after preprocessing

In [21]:
soil_df.dtypes

Latitude     float64
Longitude    float64
District      object
Mandal        object
Village       object
SoilType      object
pH           float64
EC           float64
OC           float64
P            float64
K            float64
Ca           float64
Mg           float64
S            float64
Zn           float64
B            float64
Fe           float64
Cu           float64
Mn           float64
NDVI         float64
ARVI         float64
EVI          float64
GCI          float64
NDWI         float64
Crop          object
dtype: object

In [22]:
# Descriptive statistics of the dataframe

In [23]:
soil_df.describe()

,Latitude,Longitude,pH,EC,OC,P,K,Ca,Mg,S,Zn,B,Fe,Cu,Mn,NDVI,ARVI,EVI,GCI,NDWI
count,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000,4564.000000
mean,15.945184,80.530859,7.497180,0.504709,0.480874,16.822927,161.499343,2458.232033,535.847064,49.849908,1.126378,1.195449,29.038473,2.604652,18.791507,0.413328,0.233421,1.435249,1.910122,-0.440457
std,1.740843,2.031554,1.043035,1.067671,0.257423,18.610285,138.101414,2164.436861,479.390388,118.737146,1.399054,1.016308,39.265997,3.118959,19.139737,0.215426,0.209352,7.658980,1.230773,0.174658
min,12.810000,75.280000,4.150000,0.010000,0.010000,0.450000,12.000000,46.000000,4.000000,0.100000,0.030000,0.030000,0.040000,0.030000,0.010000,-0.990654,-0.509110,-15.729614,-0.998182,-0.796160
25%,14.530000,78.970000,6.800000,0.120000,0.290000,5.240000,83.000000,863.000000,191.000000,4.807500,0.420000,0.480000,5.790000,0.940000,8.117500,0.247253,0.062255,0.510231,1.120627,-0.546648
50%,15.560000,80.090000,7.820000,0.230000,0.440000,11.110000,130.000000,1703.500000,386.500000,11.630000,0.720000,0.910000,12.455000,1.500000,12.955000,0.393643,0.197222,1.000337,1.638293,-0.450292
75%,17.730000,82.500000,8.272500,0.530000,0.630000,21.780000,198.000000,3217.750000,739.000000,36.730000,1.270000,1.620000,35.070000,2.700000,21.942500,0.584499,0.395253,1.741673,2.411581,-0.359103
max,18.800000,84.190000,9.890000,27.500000,2.640000,361.940000,2409.000000,13304.000000,5363.000000,2539.580000,23.920000,13.730000,354.700000,20.180000,256.880000,0.893920,0.806669,500.909091,7.811594,0.996370

In [24]:
# Saving the cleaned dataframe as a csv file called 'Cleaned_Soil.csv'

In [25]:
soil_df.to_csv('Cleaned_Soil.csv')

In [26]:
# List of Districts

In [27]:
list(soil_df['District'].unique())

['Anantapur',
 'Chittoor',
 'East Godavari',
 'Guntur',
 'Kadapa',
 'Krishna',
 'Kurnool',
 'Nellore',
 'Prakasam',
 'Srikakulam',
 'Visakhapatnam',
 'Vizianagaram',
 'West Godavari']

In [28]:
soil_df.columns

Index(['Latitude', 'Longitude', 'District', 'Mandal', 'Village', 'SoilType',
       'pH', 'EC', 'OC', 'P', 'K', 'Ca', 'Mg', 'S', 'Zn', 'B', 'Fe', 'Cu',
       'Mn', 'NDVI', 'ARVI', 'EVI', 'GCI', 'NDWI', 'Crop'],
      dtype='object')