In [1]:
# Importing the required modules

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
# Importing the dataset as a dataframe

In [4]:
soil_df = pd.read_csv('Soil.csv')

In [5]:
soil_df.head()

,Sl no,Date,Farmer No,Macro/ Micro nutrient,Farmer Name,District,Mandal,Village,Latitude,Longitude,...,Exch-K,Avail-Ca,Avail-Mg,Avail-S,Avail-Zn,Avail-B,Avail-Fe,Avail-Cu,Avail-Mn,Time
0,1,01-01-2015,1910,RK2276,P.Krishna Naik,Anantapur,Penukonda,Gonipeta,14.08,77.69,...,41,587,101,5.16,0.30,0.17,8.89,0.51,15.24,01-01-2015
1,2,01-01-2015,1911,RK2277,Kallu Thippe Naik,Anantapur,Penukonda,Gonipeta,14.09,77.69,...,102,811,261,9.91,0.36,0.57,3.24,0.44,6.90,01-01-2015
2,3,01-01-2015,1912,RK2278,P.Duble Bai,Anantapur,Penukonda,Gonipeta,14.09,77.69,...,46,582,48,3.77,0.37,0.19,5.54,0.42,8.34,01-01-2015
3,4,01-01-2015,1913,RK2279,H.Marekka (Kamma),Anantapur,Penukonda,Gonipeta,14.10,77.70,...,35,3048,52,4.14,0.23,0.21,1.79,0.67,4.17,01-01-2015
4,5,01-01-2015,1914,RK2280,M.Alevelamma,Anantapur,Penukonda,Gonipeta,14.09,77.69,...,76,511,84,1.45,0.36,0.22,22.26,0.45,9.20,01-01-2015

In [6]:
# Datatype of each column

In [7]:
soil_df.dtypes

Sl no                      int64
Date                      object
Farmer No                 object
Macro/ Micro nutrient     object
Farmer Name               object
District                  object
Mandal                    object
Village                   object
Latitude                 float64
Longitude                float64
Survey No.                object
Soil type                 object
Fathers Name              object
Extent\n(AC)              object
Crop before               object
pH                       float64
EC                       float64
OC                        object
Avail-P                  float64
Exch-K                     int64
Avail-Ca                   int64
Avail-Mg                   int64
Avail-S                   object
Avail-Zn                 float64
Avail-B                   object
Avail-Fe                 float64
Avail-Cu                 float64
Avail-Mn                 float64
Time                      object
dtype: object

In [8]:
# Dropping the unimportant features

In [9]:
columns_to_be_dropped = ['Sl no', 'Date', 'Farmer No', 'Macro/ Micro nutrient', 'Farmer Name', 'Survey No.', 'Fathers Name', 'Extent\n(AC)', 'Time']
soil_df = soil_df.drop(columns_to_be_dropped, axis=1)

In [10]:
# Renaming some of the columns

In [11]:
soil_df.rename(columns={'Crop before':'Crop', 'Soil type':'SoilType', 'Avail-P':'P'}, inplace=True)
soil_df.rename(columns={'Exch-K':'K', 'Avail-Ca':'Ca', 'Avail-Mg':'Mg'}, inplace=True)
soil_df.rename(columns={'Avail-S':'S', 'Avail-Zn':'Zn', 'Avail-B':'B'}, inplace=True)
soil_df.rename(columns={'Avail-Fe':'Fe', 'Avail-Cu':'Cu', 'Avail-Mn':'Mn'}, inplace=True)

In [12]:
# Rearranging the columns

In [13]:
soil_df = soil_df[['Latitude', 'Longitude', 'District', 'Mandal', 'Village', 'SoilType', 'pH', 'EC', 'OC', 'P', 'K', 'Ca', 'Mg', 'S', 'Zn', 'B', 'Fe', 'Cu', 'Mn', 'Crop']]

In [14]:
# Modifiying the datatypes of certain columns

In [15]:
soil_df['K'] = soil_df['K'].astype('float')
soil_df['Ca'] = soil_df['Ca'].astype('float')
soil_df['Mg'] = soil_df['Mg'].astype('float')
soil_df['S'] = pd.to_numeric(soil_df['S'], errors='coerce')
soil_df['B'] = pd.to_numeric(soil_df['B'], errors='coerce')
soil_df['OC'] = pd.to_numeric(soil_df['OC'], errors='coerce')

In [16]:
# Dropping rows with missing values

In [17]:
soil_df = soil_df.dropna()

In [18]:
# Columns of the dataframe after preprocessing

In [19]:
soil_df.dtypes

Latitude     float64
Longitude    float64
District      object
Mandal        object
Village       object
SoilType      object
pH           float64
EC           float64
OC           float64
P            float64
K            float64
Ca           float64
Mg           float64
S            float64
Zn           float64
B            float64
Fe           float64
Cu           float64
Mn           float64
Crop          object
dtype: object

In [20]:
# Descriptive statistics of the dataframe

In [21]:
soil_df.describe()

,Latitude,Longitude,pH,EC,OC,P,K,Ca,Mg,S,Zn,B,Fe,Cu,Mn
count,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000
mean,15.944831,80.529853,7.497154,0.504538,0.480779,16.812774,161.487084,2459.675569,535.914186,49.827496,1.125858,1.195267,29.033584,2.603540,18.789297
std,1.740956,2.032334,1.043438,1.067247,0.257344,18.605805,138.070049,2166.450116,479.291102,118.691247,1.398581,1.016041,39.255834,3.117829,19.132041
min,12.810000,75.280000,4.150000,0.010000,0.010000,0.450000,12.000000,46.000000,4.000000,0.100000,0.030000,0.030000,0.040000,0.030000,0.010000
25%,14.530000,78.970000,6.800000,0.120000,0.290000,5.230000,83.000000,863.000000,191.000000,4.807500,0.420000,0.480000,5.790000,0.940000,8.135000
50%,15.555000,80.090000,7.820000,0.230000,0.440000,11.110000,130.000000,1703.500000,387.000000,11.625000,0.720000,0.910000,12.455000,1.500000,12.960000
75%,17.730000,82.500000,8.280000,0.530000,0.630000,21.765000,198.000000,3226.500000,739.250000,36.730000,1.270000,1.620000,35.070000,2.692500,21.942500
max,18.800000,84.190000,9.890000,27.500000,2.640000,361.940000,2409.000000,13304.000000,5363.000000,2539.580000,23.920000,13.730000,354.700000,20.180000,256.880000

In [22]:
# Saving the cleaned dataframe as a csv file called 'Cleaned_Soil.csv'

In [23]:
soil_df.to_csv('Cleaned_Soil.csv')

In [24]:
# List of Districts

In [25]:
list(soil_df['District'].unique())

['Anantapur',
 'Chittoor',
 'East Godavari',
 'Guntur',
 'Kadapa',
 'Krishna',
 'Kurnool',
 'Nellore',
 'Prakasam',
 'Srikakulam',
 'Visakhapatnam',
 'Vizianagaram',
 'West Godavari']

In [26]:
soil_df.columns

Index(['Latitude', 'Longitude', 'District', 'Mandal', 'Village', 'SoilType',
       'pH', 'EC', 'OC', 'P', 'K', 'Ca', 'Mg', 'S', 'Zn', 'B', 'Fe', 'Cu',
       'Mn', 'Crop'],
      dtype='object')